p {
    padding: 0;
}

.news-title-text {
    color: #FE894C;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.btn-detail-news {
    padding: 0;
    color: #FE894C;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border: none;
    background: none;
}

.main-news {
    padding: 0 2rem;

    .img-news {
        img {
            border-top: 2px solid #FE894C;
            cursor: pointer;
        }
    }
}

.child-news {
    padding: 0 2rem;

    .title-child-news {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 1rem;
    }

    .img-content-detail {
        img {
            border-top: 2px solid #FE894C;
        }
    }
}


.main-news-content {
    p.news-title {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        cursor: pointer;
    }



}

.btn-read-more {
    padding-right: 1.5rem;

    button {
        background: none;
        cursor: pointer;
        border: none;
        color: #FE894C;
        font-weight: bold;
    }
}



.child-news {
    .content-detail-text {
        cursor: pointer;
    }
}

.title-child-news-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.child-news-sub-content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.date-create {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.news-content-mobile {
    display: none;
}


.main-news-thumbnail {
    object-fit: cover;
}

@media (min-width: 375px) and (max-width: 768px) {
    .news-content {
        display: none;
    }

    .news-content-mobile {
        display: block;

        .title-child-news-text {
            font-size: 16px;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .content-detail-text {
            position: relative;

            .date-create {
                position: absolute;
                bottom: 0;
            }
        }
    }
}