<div class="row pt-5">
    <div class="news-title text-center mb-5">
        <span class="news-title-text">TIN TỨC</span>
    </div>
    <div class="news-content">
        <div class="d-flex justify-content-end btn-read-more mb-5">
            <button type="button" >Xem Thêm</button>
        </div>
        <div class="row p-0">
            <div class="col-6 main-news mb-5">
                <div class="img-news">
                    <div>
                        <img [src]="firstNews?.thumbnail" class="w-100 main-news-thumbnail" alt="" height="340">
                    </div>
                </div>
                <div class="main-news-content">
                    <p class="news-title" (click)="clickToDetailNews(firstNews?.id)">{{firstNews?.title}} </p>
                    <p class="sub-content">{{firstNews?.subContent}}</p>
                    <p class="date-create mt-1">{{firstNews?.createdDate | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="btn-detai mt-3l">
                    <button class="btn-detail-news" (click)="clickToDetailNews(firstNews?.id)">Đọc Thêm</button>
                </div>
            </div>
            <!-- child content -->
            <div class="col-6 child-news">
                <p class="title-child-news mb-5">Tin Mới</p>
                <ng-container>
                    <div class="d-flex mb-5" *ngFor="let item of data">
                        <div class="img-content-detail w-50 pe-4">
                            <img [src]="item?.thumbnail" class="main-news-thumbnail" alt="" width="223" height="134">
                        </div>
                        <div (click)="clickToDetailNews(item.id)"
                            class="content-detail-text d-flex flex-column justify-content-between">
                            <div>
                                <p class="title-child-news-text">{{item.title}} </p>
                                <p class="child-news-sub-content">{{item.subCont}}</p>
                            </div>
                            <p class="m-0 date-create">{{item?.createdDate | date: 'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="news-content-mobile">
        <div class="row">
            <div class="col-12" *ngFor="let item of dataMobile">
                <div class="content row mb-4">
                    <div class="img-content-detail col">
                        <img [src]="item?.thumbnail" class="main-news-thumbnail" alt="" width="150" height="100">
                    </div>
                    <div class="col content-detail-text">
                        <div (click)="clickToDetailNews(item.id)"
                            class="d-flex flex-column justify-content-between">
                            <div>
                                <p class="title-child-news-text">{{item.title}} </p>
                                <p class="child-news-sub-content">{{item.subCont}}</p>
                            </div>
                            <p class="m-0 date-create">{{item?.createdDate | date: 'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>