<div class="row">
    <div class="news-title text-center">
        <span class="news-title-text">TIN TỨC</span>
    </div>
    <div class="news-content">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary">Xem Thêm</button>
        </div>
        <div class="row">
            <div class="col-6 main-news">
                <div class="img-news">
                    <img src="../../../assets/img/news-img.png" class="w-100" alt="">
                </div>
                <div class="main-news-content">
                    <p class="news-title">Ut enim ad minima veniam, quis nostrum exercitationem ullam </p>
                    <p class="sub-content">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut al Ut enim ad...</p>
                    <p class="date-create">11/10/2023</p>
                </div>
                <div class="btn-detail">
                    <button class="btn-detail-news">Đọc Thêm</button>
                </div>
            </div>
            <div class="col-6 child-news">
                <p class="title-child-news mb-5">Tin Mới</p>
                <div class="d-flex">
                    <div class="img-content-detail w-50 pe-4">
                        <img src="../../../assets/img/news-img.png" class="w-100" alt="">
                    </div>
                    <div class="content-detail-text d-flex flex-column justify-content-between">
                        <div>
                            <p>Ut enim ad minima veniam, quis nostr </p>
                            <p>Ut enim ad minima veniam, quis nostrum exercitatione...</p>
                        </div>
                        <p class="m-0">11/10/2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>