<div class="row p-0 employe-nav d-flex align-items-center">
    <h1 class="text-center employees-title">DANH MỤC XÉT NGHIỆM</h1>
</div>
<div class="container content-lab-detail">
    <ng-container>
        <div class="d-flex mt-5 flex-wrap row">
            <div class="col col-item" *ngFor="let parentItem of data">
                <div class="header d-flex align-items-center justify-content-center" [style.background]="parentItem?.bgColor">
                    <p class="text-header">{{parentItem.title}}</p>
                </div>
                <div class="body-content mt-3">
                    <div class="d-flex flex-wrap">
                        <div class="detailt-item d-flex align-items-baseline"
                            *ngFor="let childItem of parentItem.details">
                            <img src="assets/img/icon/rec-detail.png" alt="" width="12">
                            <span class="ms-2">{{childItem.content}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>