.logo-text-big {
  font-weight: bold;
}

.bg-nav-primary {
  background-color: #E8F3F9 !important;
}

.nav-link {
  font-weight: 500;
}

.btn-contact {
  padding: 10px 16px;
  border-radius: 6px;
  // background-color: 
  background: #FE894C;
  a {
    color: white;
  }
}