<div #reviewLab>
    <div class="review-title text-center">
        <span class="review-title-text">HÌNH ẢNH TRUNG TÂM</span>
    </div>
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3 border-img-slide">
                    <img [src]="product.image" [alt]="product.name" class="w-6 shadow-2 slide-img" width="350" height="280" />
                </div>
                <div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>