.review-title-text {
  color: #FE894C;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.border-img-slide {
  border: 2px solid #FE894C;
  border-radius: 6px;

  .slide-img {
    border: 10px solid white;
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
  }
}

::ng-deep.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #FE894C !important;
}

@media (min-width: 375px) and (max-width: 768px) {
  .review-title-text {
    font-size: 28px;
  }
}