.news-detail-nav {
    height: 120px;
    background-image: url('../../../assets/img/bg/employee-nav.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .news-detail-title {
        color: #FE894C;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
    }
}