<div class="row p-0 news-detail-nav d-flex align-items-center justify-content-center">
  <div class="w-75">
    <h1 class="text-center news-detail-title">{{data?.title}}</h1>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="w-50 content-service-detail mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-12 col-md-8 mt-3">
        <ul class="content-detail">
          <li *ngFor="let item of data.details">{{item.content}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>