<div class="container">
    <div class="row header-about-us">
        <h1>Về chúng tôi</h1>
        <p>TRUNG TÂM XÉT NGHIỆM Y KHOA AN PHÚC</p>
        <div class="contact">
            <p>0927.633.733</p>
            <p>anphuclab@gmail.com</p>
            <p>26 Lê Hồng Phong, TP Huế</p>
        </div>
    </div>

    <div class="main-content">
        <!-- dich vu -->
        <div class="service">
            <div class="title">
                <p>Dịch vụ</p>

            </div>
            <div class="content">
                <p><span>Dịch vụ xét nghiệm tại trung tâm</span> với hơn 400 loại xét nghiệm thuộc nhiều chuyên
                    khoa như: Huyết học, Sinh hoá, Miễn dịch, Vi sinh, Ký sinh trùng, Giải phẫu bệnh, Ung
                    thư, Sinh học phân tử, Di truyền... trên các loại bệnh phẩm như: Máu, nước tiểu,
                    dịch, phân...</p>

                <p><span>Dịch vụ lấy mẫu xét nghiệm tại nhà</span> với phương châm tận tâm, nhanh chóng và
                    chính xác.</p>
            </div>
        </div>
        <!-- nhan su -->
        <div class="employees">
            <div class="title">
                <p>
                    Nhân sự
                </p>
            </div>
            <div class="content">
                <p><span>Đội ngũ nhân sự</span> có nhiều năm kinh nghiệm được đào tạo bài bản,chuyên
                    nghiệp</p>
                <p><span>Hội đồng cố vấn chuyên môn</span> là các Phó giáo sư, Tiến sĩ, Thạc sĩ... thuộc
                    nhiều chuyên khoa với trình độ chuyên môn cao, nhiệt huyết và tận tâm với nghề</p>
            </div>
        </div>
        <!-- trang thiet bi -->
        <div class="device">
            <div class="title">
                <p>
                    Máy móc, trang thiết bị
                </p>
            </div>
            <div class="content">
                <p>Tại An Phúc, chất lượng xét nghiệm là tiêu chí được đặt lên hàng đầu. Trung tâm đã đầu tư hệ thống trang thiết bị máy móc hiện đại, đồng bộ, tiên tiến nhằm mang đến dịch vụ hoàn hảo, chính xác và nhanh chóng cho khách hàng. Có thể kể đến như:</p>
                <!-- <p><span>Đội ngũ nhân sự</span> có nhiều năm kinh nghiệm được đào tạo bài bản,chuyên
                    nghiệp</p>
                <p><span>Hội đồng cố vấn chuyên môn</span> là các Phó giáo sư, Tiến sĩ, Thạc sĩ... thuộc
                    nhiều chuyên khoa với trình độ chuyên môn cao, nhiệt huyết và tận tâm với nghề</p> -->
            </div>
        </div>
    </div>

</div>