<div class="row p-0 employe-nav d-flex align-items-center">
    <h1 class="text-center employees-title">PHỤ TRÁCH CHUYÊN MÔN</h1>
</div>
<div class="container mt-5">
    <div class="row p-0">
        <div class="content col-md-6 col-lg-4 col-sm-12 mb-5"  *ngFor="let item of data">
            <div class="card-employee">
                <div class="img-employee">
                    <img class="img-mobile w-100" [src]="item.avatar" height="170" alt="">
                </div>
                <div class="content-employee mt-3">
                    <p class="e-name text-center">{{item.fullName}}</p>
                    <p class="e-dr text-center">{{item.degree}}</p>
                </div>
                <p class="description mt-4">{{item.description}}</p>
            </div>
        </div>
    </div>
</div>