.employe-nav {
    height: 120px;
    background-image: url('/assets/img/bg/employee-nav.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .employees-title {
        color: #FE894C;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
    }
}


.content-news {
    .thumnails {
        img {
            border-top: 2px solid #FE894C;
        }
    }
}

.content-news-text {
    .news-title {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
    }

    .sub-content {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 47.948px;
    }

    .date-create {
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        color: #505050;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .employees-title {
        font-size: 28px !important;
    }

    .container {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
        .mobile-mt{
            margin-top: 0 !important;
            margin-bottom: 2rem;
        }

        .content-news {
            .thumnails {
                img {
                    width: 150px;
                    height: 100px;
                }
            }

            .content-news-text {
                position: relative;
                .news-title {
                    font-size: 16px;
                    line-height: 24px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                .sub-content{
                    display: none;
                }
                .date-create{
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}