.about-text-title {
  margin-left: 50px;
}

.about-title {
  color: #FE894C;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.block-rec {
  margin-top: 24px;
  margin-right: 24px;
}

.img-about-us {
  margin-left: 5rem;
}


.text-block-about-us {
  width: 80%;

}

.btn-action {
  button {
    color: #FE894C;
    cursor: pointer;
    border: none;
    font-weight: bold;
  }
}


@media (min-width: 375px) and (max-width: 768px) {
  .block-rec {
    display: none;
  }

  .text-block-about-us {
    width: 100%;
  }

  .img-block-about-us {
    display: none;
  }

  .about-text-title {
    margin-left: 0;
    justify-content: center;
  }

  #aboutUs {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .about-title {
    font-size: 28px;
  }
}