<div class="row mt-5 px-5" id="aboutUs">
    <div class="col-6">
        <img class="img-about-us" src="../../../assets/img/about-dashboard.png" width="448" height="556" alt="">
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div class="text-block-about-us">
            <div class="about-text-title d-flex">
                <div class="block-rec"></div>
                <span class="about-title">VỀ CHÚNG TÔI</span>
            </div>
            <div class="text-content">
                <span>
                    mot hai ba bon nam sau bay tam chin muoi muoi moi muoi hai | mot hai ba bon nam sau bay tam chin
                    muoi muoi moi
                    muoi hai
                </span>
            </div>
        </div>
    </div>
</div>