<div class="row mt-5 px-5" id="aboutUs">
    <div class="col-6">
        <img class="img-about-us" src="assets/img/about-dashboard.png" width="448" height="556" alt="">
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div class="text-block-about-us">
            <div class="about-text-title d-flex">
                <div class="block-rec"></div>
                <span class="about-title">VỀ CHÚNG TÔI</span>
            </div>
            <div class="text-content mt-3">
                <span>
                    Hiện nay, cùng với sự phát triển không ngừng của khoa học kỹ thuật, chất lượng kết quả xét nghiệm ngày càng được nâng cao, đem lại kết quả chính xác, nhanh chóng và tin cậy. Những kết quả xét nghiệm chính xác không chỉ giúp các bác sĩ lâm sàng chẩn đoán  đúng bệnh để điều trị kịp thời mà còn có thể dự báo sớm những nguy cơ mắc bệnh…Hiểu được điều đó, Trung tâm Xét nghiệm Y khoa An Phúc được thành lập với sứ mệnh mang đến cho khách hàng dịch vụ xét nghiệm chất lượng, chính xác, nhanh chóng và hiệu quả. 
                </span>
            </div>
        </div>
    </div>
</div>