.about-text-title{
  margin-left: 50px;
}

.about-title {
  color: #FE894C;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.block-rec {
  margin-top: 24px;
  margin-right: 24px;
}

.img-about-us{
  margin-left: 5rem;
}


.text-block-about-us{
  width: 80%;
  
}

