<app-nav-bar></app-nav-bar>
<div class="main-content position-relative">
    <img src="../../../assets/img/bg-main-header.png" class="w-100" alt="">
    <div class="text-content position-absolute">
        <div class="top-block d-flex">
            <div class="block-rec"></div>
            <span class="main-top-title">TRUNG TÂM XÉT NGHIỆM Y KHOA</span>
        </div>
        <div class="bottom-block">
            <span class="main-bottom-title">AN PHÚC</span>
        </div>
        <div class="bottom-small">
            <span class="bottom-small-title">An tâm sức khoẻ, tận hưởng hạnh phúc</span>
        </div>
        <div class="block-btn">
            <button class="btn mt-4 btn-contact">
                <a class="nav-link p-0" href="">Liên Hệ </a>
            </button>
        </div>
    </div>

</div>
<div class="container">
    <app-about-us></app-about-us>

</div>
<div class="labservice pb-5">
    <div class="container">
        <app-labservice></app-labservice>
    </div>
</div>

<div class="review-lab d-flex align-items-center">
    <div class="container">
        <app-review-lab></app-review-lab>
    </div>
</div>

<div>
    <div class="container">
        <app-tech-news></app-tech-news>
    </div>
</div>
<router-outlet></router-outlet>